In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#Created 5x2 NumPy array
my_data = np.array([[0, 3], [10, 7], [20, 9], [30, 14], [40, 15]])

#Python list generated
my_column_names = ['temperature', 'activity']

#DataFrame created
my_dataframe = pd.DataFrame(data=my_data, columns=my_column_names)

#all DataFrame is printed
print(my_dataframe)

   temperature  activity
0            0         3
1           10         7
2           20         9
3           30        14
4           40        15

In [ ]:
#a new column has been created
my_dataframe["adjusted"] = my_dataframe["activity"] + 2

#all DataFrame is printed
print(my_dataframe)

   temperature  activity  adjusted
0            0         3         5
1           10         7         9
2           20         9        11
3           30        14        16
4           40        15        17

In [ ]:
#specified row/columns are printed
print("Rows #0, #1, and #2:")
print(my_dataframe.head(3), '\n')

print("Row #2:")
print(my_dataframe.iloc[[2]], '\n')

print("Rows #1, #2, and #3:")
print(my_dataframe[1:4], '\n')

print("Column 'temperature':")
print(my_dataframe['temperature'])

Rows #0, #1, and #2:
   temperature  activity  adjusted
0            0         3         5
1           10        13         9
2           20         9        11

Row #2:
   temperature  activity  adjusted
2           20         9        11

Rows #1, #2, and #3:
   temperature  activity  adjusted
1           10        13         9
2           20         9        11
3           30        14        16

Column 'temperature':
0     0
1    10
2    20
3    30
4    40
Name: temperature, dtype: int32

In [ ]:
#Python list generated
my_column_names = ['Eleanor', 'Chidi', 'Tahani', 'Jason']

#3x4 Numpy array created
my_data = np.random.randint(low=0, high=101, size=(3, 4))

#DataFrame created
df = pd.DataFrame(data=my_data, columns=my_column_names)

#all DataFrame is printed
print(df)

#the value is printed in row 1 of the Eleanor column
print("\nSecond row of the Eleanor column: %d\n" % df['Eleanor'][1])

#Created a column named Janet whose content is the sum of the other two columns
df['Janet'] = df['Tahani'] + df['Jason']

#advanced DataFrame printed
print(df)

   Eleanor  Chidi  Tahani  Jason
0       39     87      62      0
1       69     75      42     27
2       98     94      18     75

Second row of the Eleanor column: 69

   Eleanor  Chidi  Tahani  Jason  Janet
0       39     87      62      0     62
1       69     75      42     27     69
2       98     94      18     75     93

In [ ]:
#assigned a new variable my_dataframe
print("Experiment with a reference:")
reference_to_df = df

#the initial value of a particular cell is printed
print("  Starting value of df: %d" % df['Jason'][1])
print("  Starting value of reference_to_df: %d\n" % reference_to_df['Jason'][1])

#A cell in DataFrame has been changed
df.at[1, 'Jason'] = df['Jason'][1] + 5
print("  Updated df: %d" % df['Jason'][1])
print("  Updated reference_to_df: %d\n\n" % reference_to_df['Jason'][1])

#Created a real copy of my_dataframe
print("Experiment with a true copy:")
copy_of_my_dataframe = my_dataframe.copy()

#the initial value of a particular cell is printed
print("  Starting value of my_dataframe: %d" % my_dataframe['activity'][1])
print("  Starting value of copy_of_my_dataframe: %d\n" % copy_of_my_dataframe['activity'][1])

#A cell in DataFrame has been changed
my_dataframe.at[1, 'activity'] = my_dataframe['activity'][1] + 3
print("  Updated my_dataframe: %d" % my_dataframe['activity'][1])
print("  copy_of_my_dataframe does not get updated: %d" % copy_of_my_dataframe['activity'][1])

Experiment with a reference:
  Starting value of df: 32
  Starting value of reference_to_df: 32

  Updated df: 37
  Updated reference_to_df: 37


Experiment with a true copy:
  Starting value of my_dataframe: 10
  Starting value of copy_of_my_dataframe: 10

  Updated my_dataframe: 13
  copy_of_my_dataframe does not get updated: 10